body {
  background-color: #F9F9F9;
}

.cognito {

  form + div {
    position: absolute;
    left: 50%;
    margin-left: -91px;
  }

  .c-forms-form {
    margin-bottom: 2em !important;
    margin: 0 auto;
  }

  .c-forms-heading {
    background-color: transparent !important;
  }

  .c-progress-section {
    margin-bottom: 1em;
  }

  .c-forms-form-body {
    background-color: #F9F9F9;
    padding: 0 10px;
    @media screen and (min-width: 601px) {
      padding: 0 20px;
    }
  }

  .c-forms-pages {
    overflow: visible !important;
  }

  .c-forms-template {
    background-color: #FFF;
    box-shadow: 0px 2px 5px rgba(0,0,0,.25);
    padding: 1em;
    box-radius: 10px;
    border-top: 8px solid #DFD7CC;
    margin-bottom: 1em;
  }

  .c-title {
    border-bottom: 2px solid #EAEAE9;
    margin-bottom: 1.5em;

    h3 {
      margin-top: .5em !important;
      margin-bottom: 1.5em !important;
      font-size: 26px !important;
      line-height: 1.4em !important;
    }
  }

  .c-helptext {
    margin-bottom: 1em;
    font-size: 16px !important;
  }
  
  .c-label {
    margin-bottom: .5em !important;
    line-height: 1.5em !important;
  }

  .c-field {
    margin-bottom: 3em !important;
  }

  .c-validation {
    font-size: 16px !important;
    background-color: transparent !important;
    color: #D40000 !important;
  }

  input[type="text"] {
    border-radius: 0px !important;
    border-bottom: 2px solid #000 !important;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px #FFB800;
    }
  }

  textarea {
    border-radius: 0px !important;
    border: 2px solid #000 !important;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px #FFB800;
    }
  }

  .c-choice-option {
    border: 2px solid #EAEAE9;
    width: 100% !important;
    float: none !important;
    padding: .3em .7em !important;
    margin-bottom: .3em !important;
    &:focus-within {
      outline: none;
      box-shadow: 0 0 0 3px #FFB800;
    }
  }

  .c-yesno-radio {
    border: 2px solid #EAEAE9;
    width: 100% !important;
    float: none !important;
    padding: .3em .7em !important;
    margin-bottom: .3em !important;
    text-indent: 0 !important;
    &:focus-within {
      box-shadow: 0 0 0 3px #FFB800;
    }
  }

  .c-fileupload-file {
    a {
      font-size: 19px !important;
    }

    a + div {
      font-size: 16px !important;
    }
  }

  .c-button-section {
    border-top: 2px solid #EAEAE9; 
    padding-top: 2em !important;
    padding-bottom: 1em !important;
    margin-top: 1em !important;
  }

  .c-button {
    border-radius: 2px !important;
    box-shadow: 0 2px 2px rgba(#015e50, 1);
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px #FFB800;
    }
  }

  .c-button.c-page-previous-page {
    border: 1px solid #000;
    background-color: #FFF;
    color: #000;
    box-shadow: 0 2px 2px rgba(#111111, .25);
    &:hover {
      background-color: #F9F9F9;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px #FFB800;
    }
  }

  .c-page-numbering {
    display: none;
  }
}


